# Dependencies
frontend/node_modules/

# Build output (keep app icon)
frontend/dist/
*.exe
build/*
!build/appicon.png
!build/windows/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Go
*.test
*.out

# Temp
*.tmp